<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/18ffaa82-ddd6-433c-b657-de0a455a4e30/resourcegroups/fit5120_Project/providers/Microsoft.Web/sites/loveandlive3</ResourceId>
    <ResourceGroup>fit5120_Project</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://loveandlive3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>loveandlive3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>loveandlive3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$loveandlive3</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NewestModels" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fit5120dbserver.database.windows.net,1433;Initial Catalog=loveandliveFinal3_db;User ID=rajdeep@fit5120dbserver;Password=Password123" Name="Data Source=tcp:fit5120dbserver.database.windows.net,1433;Initial Catalog=loveandliveFinal3_db;User Id=rajdeep@fit5120dbserver;Password=Password123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FinalVersion.Models.NewestModels, FinalVersion" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NewestModels-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fit5120dbserver.database.windows.net,1433;Initial Catalog=loveandliveFinal3_db;User Id=rajdeep@fit5120dbserver;Password=Password123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>