
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .smallchange {
            color: black;
            font-family: 'Lucida Sans', sans-serif;
        }

        .fontWeight {
            font-weight: bolder;
        }
    </style>
</head>
<body style="height:100%">

    <div class="slide-one-item home-slider owl-carousel">

        <div class="site-blocks-cover inner-page" style="background-image: url(/images/night.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1>Find a better place to live</h1>
                    <span class="caption d-block text-white">Find The best Way</span>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover inner-page" style="background-image: url(/images/family.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1>Explore Melbourne with your family</h1>
                    <span class="caption d-block text-white">Effective events</span>
                </div>
            </div>
        </div>


        <div class="site-blocks-cover inner-page" style="background-image: url(/images/chinesenys.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1></h1>
                    <span class="caption d-block text-white">Quizs</span>
                </div>
            </div>
        </div>
    </div>
    <section></section>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="site-section-heading text-center smallchange">Love & Live</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 block-13">
                    <div class="nonloop-block-13 owl-carousel">
                        <div class="media-image">
                            <img src="/images/house1.jpg" alt="Image" class="img-fluid" style="width:500px;height:300px;">
                            <div class="media-image-body">
                                <h2>Find your home</h2>
                                <p>We help new Chinese immigrant families with young kids choose a suitable place in Melbourne based on education, security, hospital and etc.</p>
                                <p><a href="@Url.Action("Place","Home")" class="btn btn-success text-white px-4"><span class="caption">Learn More</span></a></p>
                            </div>
                        </div>
                        <div class="media-image">
                            <img src="/images/familyevent.jpg" alt="Image" class="img-fluid" style="width:500px;height:300px;">
                            <div class="media-image-body">
                                <h2>Family Event</h2>
                                <p>We recommend a list of events like sports and festivals for Chinese immigrant families, they can check the event information to make a decision  .</p>
                                <p><a href="@Url.Action("Events","Home")" class="btn btn-success text-white px-4"><span class="caption">Learn More</span></a></p>
                            </div>
                        </div>
                        <div class="media-image">
                            <img src="/images/operahouse.jpg" alt="Image" class="img-fluid" style="width:500px;height:300px;">
                            <div class="media-image-body">
                                <h2>Get familiar with Australia</h2>
                                <p>We provide quizzes about Australia history, culture and stories to help Chinese immigrant families learn and understand more about Australia .</p>
                                <p><a href="@Url.Action("login","Home")" class="btn btn-success text-white px-4"><span class="caption">Learn More</span></a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>