
@{
    ViewBag.Title = "JobInfo_CN";
    Layout = "~/Views/Shared/_Layout_CN.cshtml";
}

<style>
    .card-title {
        margin-top: 17%;
        margin-left: 10%;
    }

    .cl4 {
        border-right: double;
    }
</style>

<div class="container">
    <h1 style="text-align:center; padding-bottom:30px;">如何在墨尔本找工作？</h1>
    <div class="row">
        <div class="col-lg-6" style="padding-right: 1px;
    padding-left: 1px">
            <img src="/images/findjob.png" style="width:100%; height:100%">
        </div>

        <div class="col-lg-6" style="padding-right: 1px;
            padding-left: 1px">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top:5%">1 通过人际关系寻找工作</h5>
                    <p class="card-text">
                        大多数工作从未在澳大利亚发布过广告，你只能通过网络关系找到工作。这个相当大的职位空缺也形成了一个所谓的无形劳动力市场。在这种就业环境中，你必须与当地人相处并建立他们的关系网络。
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted" style="font-size: 0.6em">提示：注意他们的沟通方式，以及他们最常说“是”的交流类型。</h6>
                </div>
            </div>
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top:5%">2 从志愿者开始接触澳大利亚工作</h5>
                    <p class="card-text">
                        许多新移民找不到工作，因为他们没有当地的工作经验。 在这里建议有时间和精力参加一些组织或社区的志愿者。
                        这类工作不需要申请人有专业资格或工作经验，但必须要有热情帮助他人。在志愿服务期间，你可以锻炼英语，熟悉当地文化，并获得宝贵的推荐资源。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />

    <h1 style="text-align:center; padding-bottom:30px;">实用的网站</h1>

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4 cl4">
                <h5 class="card-title">
                    <a href="https://www.careerfaqs.com.au">
                        CareerFAQS
                    </a><i class="fas fa-external-link-alt"></i>
                </h5>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">提供最好的职业资源和课程信息，帮助您培养新技能并在职业生涯中取得进步。</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4 cl4">
                <h5 class="card-title">
                    <a href="https://jobs.vic.gov.au/">
                        Jobs Victoria
                    </a><i class="fas fa-external-link-alt"></i>
                </h5>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">提供工作定制的服务，以支持和联系求职者和雇主。通过遍布全州的合作伙伴网络，他们帮助求职者通过指导，培训和发展获得就业机会。同时，这个网站与雇主密切合作，确定他们正在寻找的技能和经验的类型。该网站不仅为一些澳大利亚公司提供招聘信息，还发布政府部门的工作。</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4 cl4">
                <h5 class="card-title">
                    <a href="https://www.acecis.com.au/">
                        ACECIS
                    </a><i class="fas fa-external-link-alt"></i>
                </h5>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">提供一系列的职业服务和实习机会，帮助你在澳大利亚找到工作。 在澳大利亚拥有30多年的企业经验比如金融，工程和营销等领域，他们利用自己的专业知识和与公司的广泛联系，帮助你在澳大利亚获得面试和工作机会。</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4 cl4">
                <h5 class="card-title">
                    <a href="https://au.linkedin.com/">
                        Linkedin
                    </a><i class="fas fa-external-link-alt"></i>
                </h5>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">是世界上最大的专业社交网站，为世界各地的公司和机构提供一系列招聘，营销和销售解决方案。 目前，用户数已超过5.46亿，覆盖全球200多个国家和地区。 LinkedIn被澳大利亚雇主广泛使用。</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1 style="text-align:center; padding-bottom:30px;">求职者网站：</h1>

    <table class="table">

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <a href="https://www.careerone.com.au/">
                        CareerOne
                    </a><i class="fas fa-external-link-alt"></i>
                </td>
                <td>
                    <a href="https://au.indeed.com/">
                        Indeed
                    </a><i class="fas fa-external-link-alt"></i>
                </td>
                <td>
                    <a href="https://www.jobserve.com/au/en/Job-Search/">
                        Jobserve
                    </a><i class="fas fa-external-link-alt"></i>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <a href="https://www.seek.com.au/">
                        seek
                    </a><i class="fas fa-external-link-alt"></i>
                </td>
                <td>
                    <a href="https://au.linkedin.com/company/linkme">
                        LinkMe
                    </a><i class="fas fa-external-link-alt"></i>
                </td>
                <td>
                    <a href="https://www.monster.com/">
                        Monster
                    </a><i class="fas fa-external-link-alt"></i>
                </td>
            </tr>

        </tbody>
    </table>

    <br />
    <br />

    <br />




</div>



